<h1>Full list of products</h1>

<% @products.each do |product| %>
  <h3>id: <% product.id %></h3>
  <a href="/products/<% product.id %>">Click here for more information</a>
  <h3> name: <%= product.name%></h3>
  <p> price: <%= product.price%></h3>
  <p> description:= <% product.description%></h3>
  <p> image_id:= <% product.image_id%></h3>
<% end %>
