<h3> Here is the form </h3>

<form action"/recipes" method ="post">
  <p>enter the product name<input type="text" name="title"></p>
  <p>enter the product description<input type="text" name="description"></p>
  <input type="submit">
</form>